@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app__welcome, .app__dashboard, .app__dashboard--content {
  width: 100%;
  max-width: 500px;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

.container {
  color: #fff;
}

.hide {
  display: none;
}

.header {
  background-color: #202020;
  color: #fff;
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 5.5rem;
  width: 100%;
}

.nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  color: #fff;
  text-align: center;
  padding: .8rem 1.2rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 1px 0 #cc5200;
          box-shadow: 0 1px 0 #cc5200;
  cursor: pointer;
}

.nav__button span {
  display: block;
}

.nav__button__bar {
  height: 2px;
  background-color: #fff;
  width: 1.6rem;
  margin-right: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__button__bar::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  width: 1.6rem;
  margin-right: 1rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__button__bar::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  width: 1.6rem;
  margin-right: 1rem;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__button__bar--close {
  height: 2px;
  background-color: transparent;
  width: 1.6rem;
  margin-right: 1rem;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__button__bar--close::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  width: 1.6rem;
  margin-right: 1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__button__bar--close::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  width: 1.6rem;
  margin-right: 1rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
  margin-top: 5.5rem;
}

.app__banner {
  width: 100%;
}

.app__text {
  margin: 2rem .5rem;
  text-align: center;
}

.app__input {
  font-size: 1.6rem;
  color: #fff;
  width: 95%;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #ff6600;
  background-color: #000;
}

.app__input:focus {
  border-color: #fff;
}

.app__action {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  width: 95%;
  padding: 1.5rem 2rem;
  margin: 1rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  background-color: #ff6600;
  cursor: pointer;
}

.app__dashboard--content {
  text-align: center;
  background-color: #202020;
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 1rem;
}

.app__dashboard--text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #ff6600;
  margin: 1rem;
}

.app__dashboard--header {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  background-color: #000;
  padding: .5rem 2rem;
  border-left: 0.7rem solid #ff6600;
  border-right: 0.7rem solid #ff6600;
  border-radius: 2rem;
  margin: 1rem;
}

.app__dashboard--body {
  background-color: #0f0f0f;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.app__dashboard--body strong {
  color: #ff6600;
}

.app__dashboard--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #0f0f0f;
  padding: .1rem .4rem;
  margin: .5rem;
  border-radius: 2rem;
  border: 3px solid #202020;
}

.app__dashboard--menu {
  position: fixed;
  top: 5rem;
  left: 0;
  padding: 2rem;
  background-color: #000;
  z-index: 9;
  min-height: calc(100vh - 4rem);
  width: 100%;
}

.p {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 1rem;
  text-align: center;
}

.p--s {
  font-size: 1.5rem;
}

.p--b {
  font-weight: 600;
}

.p--m {
  font-size: 1.6rem;
}

.p--mb {
  font-size: 1.6rem;
  font-weight: 600;
}

.ut__orange {
  color: #ff6600;
}

.ut__underline {
  text-decoration: underline;
}

.ut__pointer {
  cursor: pointer;
}

.ut__margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
