html {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  background-color: $color-black;
}

.container {
  color: $color-white;
}

.hide {
  display: none;
}

.header {
  background-color: $color-dark;
  color: #fff;
  padding: 1.5rem 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 5.5rem;
  width: 100%;
}

.nav {

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $color-black;
    color: $color-white;
    text-align: center;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 darken($color-main, 10%);

    & span {
      display: block;
    }

    &__bar {
      height: 2px;
      background-color: $color-white;
      width: 1.6rem;
      margin-right: 1rem;
      transition: all 1s ease;

      &::before {
        content: "";
        display: block;
        height: 2px;
        background-color: $color-white;
        width: 1.6rem;
        margin-right: 1rem;
        transform: translateY(-5px);
        transition: all 1s ease;
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: $color-white;
        width: 1.6rem;
        margin-right: 1rem;
        transform: translateY(3px);
        transition: all 1s ease;
      }
    }

    &__bar--close {
      height: 2px;
      background-color: transparent;
      width: 1.6rem;
      margin-right: 1rem;
      position: relative;
      transition: all 1s ease;

      &::before {
        content: "";
        display: block;
        height: 2px;
        background-color: $color-white;
        width: 1.6rem;
        margin-right: 1rem;
        transform: rotate(135deg);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: $color-white;
        width: 1.6rem;
        margin-right: 1rem;
        transform: rotate(-135deg);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;
      }
    }
  }
}

.app {
  padding: 2rem;
  margin-top: 5.5rem;

  &__banner {
    width: 100%;
  } 
  
  &__text {
    margin: 2rem .5rem;
    text-align: center;
  }

  &__input {
    font-size: 1.6rem;
    color: $color-white;
    width: 95%;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid $color-main;
    background-color: $color-black;

    &:focus {
     border-color: $color-white; 
    }
  }

  &__action {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-white;
    width: 95%;
    padding: 1.5rem 2rem;
    margin: 1rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    background-color: $color-main;
    cursor: pointer;
  }

  &__dashboard {

    &--content {
      text-align: center;
      width: 100%;
      background-color: $color-dark;
      border-radius: 2rem;
      margin: 1rem 0;
      padding: 1rem;
    }

    &--text {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      color: $color-main;
      margin: 1rem;
    }

    &--header {
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
      background-color: $color-black;
      padding: .5rem 2rem;
      border-left: .7rem solid $color-main;
      border-right: .7rem solid $color-main;
      border-radius: 2rem;
      margin: 1rem;
    }

    &--body {
      background-color: lighten($color-black, 6);
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;

      & strong {
        color: $color-main;
      }
    }

    &--group {
      display: flex;
      justify-content: flex-start;
      background-color: lighten($color-black, 6);
      padding: .1rem .4rem;
      margin: .5rem;
      border-radius: 2rem;
      border: 3px solid $color-dark;
    }

    &--menu {
      position: fixed;
      top: 5rem;
      left: 0;
      width: 100%;
      padding: 2rem;
      background-color: $color-black;
      z-index: 9;
      min-height: calc(100vh - 4rem);
    }
  }
}

.p {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 1rem;
  text-align: center;

  &--s {
    font-size: 1.5rem;
  }

  &--b {
    font-weight: 600;
  }

  &--m {
    font-size: 1.6rem;
  }

  &--mb {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.ut {
  &__orange {
    color: $color-main;
  }
  
  &__underline {
    text-decoration: underline;
  }  

  &__pointer {
    cursor: pointer;
  }

  &__margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}